.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8edeb;
  width: 20vw;
  min-height: 100vh;
}

.nav-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tbn-logo a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.logo {
  height: auto;
  width: 9vw;
}

.app-name {
  text-align: left;
  font-weight: bold;
  font-size: 2.7vw;
}

.nav-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  margin-top: 30px;
}

.nav-options p {
  font-size: 2vw;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin-top: 30px;
}

.guest-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-right: 20px;
}

.footer2 {
  display: none;
}

.footer {
  text-align: left;
  padding: 15px;
}

.footer img {
  height: 35px;
  width: auto;
}

.footer a {
  font-size: 90%;
  color: black;
}

.links a {
  margin-right: 10px;
}

.icons {
  font-size: 60%;
}

/* media queries */

@media screen and (max-width: 830px) {
  .nav {
    flex-direction: row;
    width: 100vw;
    min-height: 10vh;
  }

  .nav-details {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    height: 100%;
    width: 100vw;
  }

  .tbn-logo a {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }

  .logo {
    height: 15vh;
    width: auto;
    padding-left: 20px;
  }

  .app-name {
    font-size: 4.5vh;
  }

  .nav-options {
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
  }

  .guest-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-right: 20px;
  }

  .nav-options p {
    display: none;
  }

  .options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-top:0;
  }

  .options a, .options button, .guest-options a {
    font-size: 3vh;
  }

  .footer1 {
    display: none;
  }

  .footer2 {
    display: inherit;
    background-color: #f8edeb;
    width: 100vw;
    min-height: 20vh;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    text-align: right;
  }

  .resources {
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .nav-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-top:0;
  }

  .nav-options a {
    font-size: 3vh;
  }
}
