.reviews-container {
  width: 700px;
  margin: 10px auto;
  padding-top: 25px;
  border: solid black 1px;
  background-color: rgba(255, 255, 255, 1); 
  text-align: left;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.review {
  margin: 25px;
  border: black solid 1px;
  padding: 10px; 
}

h6 {
  font-size: 125%;
  font-weight: bold;
}

.create-review {
  height: 250px;
}

.create-review label{
  text-align: left;
}
